// variables 
:root{
    --baseFontSize: 16px;
    --themeColor: #207cba;
    --whitecolor: #ffffff;
    --blackcolor: #000000;
    --secondary-color: #4d5e6c;
    --graygcolor: #F0F0F0;    
    --themefontfamily : 'Poppins';
}